name: Build release files

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Download hry-core
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: cmake.yml
          name: hry-core-sdk
          path: ${{github.workspace}}/vendor/hry-core
          repo: Hary309/hry-core

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Release

      - name: Build
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: cmake --build . --config Release --target hry-sic -j 16

      - name: Run InnoSetup Compiler
        working-directory: deploy/installer
        shell: bash
        run: ISCC hry-sic.iss

      - name: Upload installer
        uses: actions/upload-artifact@v2
        with:
          name: hry-sic-installer
          path: ${{github.workspace}}/deploy/installer/hry-sic.exe

      - name: Prepare manual installation folder
        shell: bash
        run: |
          mkdir -p manual/plugins manual/plugins/hry_plugins manual/plugins/hry_assets
          cp vendor/hry-core/bin/release/hry-core.dll manual/plugins
          cp build/Release/hry-sic.dll manual/plugins/hry_plugins
          cp -r vendor/hry-core/assets/* manual/plugins/hry_assets

      - name: Upload manual installation
        uses: actions/upload-artifact@v2
        with:
          name: hry-sic-manual-installation
          path: manual/*
